body {
font-family: sans-serif;
background-color: gainsboro;
margin: 0;
}
h1 {
text-align: center;
margin: 0;
padding: 1rem 0 2rem;
}
a {
text-decoration: none;
color: black;
}
header {
padding: 0.5rem 10% 0;
background-color: #fcfcfc;
}
nav {
max-inline-size: 40rem;
margin: auto;
display: flex;
}
.locale-switcher {
margin-left: auto;
padding: .2rem;
border-radius: 0.4rem;
}
.title_en {    
font-size: 1rem;
color: gray;
font-family: serif;
font-style: italic;
}
.main_container{
background-color: #fcfcfc;
padding: 0 10% 7rem 10%;
}
.heart {
width: 4rem;
}
.wiggle {
animation: wiggle .2s infinite;
}
@keyframes wiggle {
0% {transform: translate(0px, 0px) rotateZ(0deg)}
25% {transform: translate(2px, 2px) rotateZ(1deg)}
50% {transform: translate(0px, 2px) rotateZ(0deg)}
75% {transform: translate(2px, 0px) rotateZ(-1deg)}
100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
.player-container {
display: flex;
flex-direction: column;
margin: 1rem 0;
align-items: center;
}
.domain_text {
overflow-wrap: anywhere;
}
.missed_domain {
color: grey;
text-decoration-line: line-through;
border-bottom: 1px solid;
border-color: lightgray;
}
.domain_list {
font-size: 1.7rem;
}
.domain_li_div {
display: flex;
justify-content: space-between;
align-items: baseline;
border-bottom: 1px solid;
border-color: lightgray;
}
.point_li {
font-style: italic;
color: #6b6b6b;
margin-left: 3rem;
font-size: 1.2rem;
text-align: right;
}
.point_li::after {
content: " pt";
}
.warning {
color: rgb(175, 0, 0);
min-height: 1.5rem;
margin: 0;
}
.input{
padding: 0 1rem;
font-size: 1.5rem;
height: 4rem;
border-radius: 1rem 0 0 1rem;
border: blue solid;
border-width: 1px 0 1px 1px;
max-width: 90%;
}
.input_container{
display: flex;
justify-content: center;
max-width: 90%;
}
.submit_btn_img{
width: 2.3rem;
}
.submit_btn{
padding: 0 1rem;
font-size: 1.5rem;
height: 4rem;
border-radius: 0 1rem 1rem 0;
border: blue solid 1px;
background-color: lightblue;
border-width: 1px 1px 1px 0;
}
.submit_btn:disabled{
background-color: lightgrey;
}
.modalArea {
display: none;
position: fixed;
z-index: 10;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.modalBg {
width: 100%;
height: 100%;
background-color: rgba(30,30,30,0.7);
}
.modalWrapper {
position: absolute;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
width: 70%;
border-radius: 1rem;
padding: 2rem;
background-color: #fff;
max-height: 85%;
overflow-y: auto;
}
.modalContents {
display: flex;
flex-direction: column;
align-items: center;
}
.resultTitle {
font-size: 2rem;
text-align: center;
}
.resultDomainListContainer{
width: 90%;
padding: 1rem;
border-radius: .5rem;
}
.resultPoint {
font-size: 3.5rem;
line-height: 3.5rem;
text-align: center;
}
.shareBtn {
background-color: lightskyblue;
color: white;
}
.btn {
font-size: 1.3rem;
border-radius: 0.5rem;
padding: 0.8rem 1.5rem;
border: 1px solid black;
margin: 1rem 1rem 0;
cursor: pointer;
}
.footer{
width: 100%;
background-color: gainsboro;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap: 10px;
position: relative;
}
.fotter-text{
padding: 0.5rem;
color: #444;
}
.item-left {
margin-left: 0;
font-size: 0.8rem;
}
.item-center {
text-align: center;
position: absolute;
left: 50%;
transform: translateX(-50%);
margin-top: 0rem;
}
.brw-support {
word-break: keep-all;
overflow-wrap: break-word;
}
@media (max-width: 800px) {
.footer {
flex-direction: column;
justify-content: flex-start;
}
.item-center {
margin-top: 2rem;
}
.modalWrapper {
width: 95%;
padding: 2rem 0.1rem;
}
.resultDomainListContainer{
width: auto;
}
.resultDomainListContainer .point_li{
margin-left: .5rem;
}
}
/* ツールチップ */
/* 親要素 */
.tooltip-container {
position: relative;
overflow: hidden;
display: inline-block;
border: grey solid 1px;
border-radius: 50%;
background-color: lightblue;
margin: 0 0 0 0.5rem;
width: 1.2rem;
height: 1.2rem;
text-align: center;
color: #ffffff;
font-weight: bold;
}

/* モーダルのテキスト */
.tooltip-text {
visibility: hidden;
width: 12rem;
background-color: #333;
color: #fff;
text-align: center;
border-radius: 5px;
padding: 8px;
position: absolute;
bottom: 125%;
left: 50%;
transform: translateX(-50%);
z-index: 1;
opacity: 0;
transition: opacity 0.3s;
}

/* モーダルの矢印 */
.tooltip-text::after {
content: "";
position: absolute;
top: 100%; /* 下方向に矢印を表示 */
left: 50%;
transform: translateX(-50%);
border-width: 5px;
border-style: solid;
border-color: #333 transparent transparent transparent;
}

/* マウスオーバーやタップ時に表示 */
.tooltip-container:hover .tooltip-text,
.tooltip-container:focus-within .tooltip-text {
visibility: visible;
opacity: 1;
}
.tooltip-container:hover,
.tooltip-container:focus-within {
overflow: visible;
}